node_modules
bun.lockb

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.dev.vars*
!.dev.vars.example
/static/Rise-And-Fall-Of-Raphael-THE-GLITCH-Compact.pdf
/.agents/
/.claude/
